<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Login" value="piotrowski.sieciowe"/>
    <add key="Password" value="tajnehaslo"/>
    <add key="ServerAddress" value="poczta.o2.pl"/>
    <add key="ServerPort" value="110"/>
    <add key="UpdateTime" value="0,5"/>
  </appSettings>
</configuration>