<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="serverAddress" value="poczta.o2.pl"/>
    <add key="username" value="piotrowski.sieciowe"/>
    <add key="password" value="tajnehaslo"/>
    <add key="port" value="110"/>
    <add key="updateTime" value="5"/>
    
  </appSettings>
  
</configuration>